# Compiled ACS files
*.o
# ACS error files
acs.err

# Builds
out/

# Backup files
*.bak*
*.bac*

# Doom Builder configuration files  
*.dbs

# Extra stuff
a_changelog.acs
a_version.acs
acsconstants.dec

*.tmp

# MSVC
*.pdb
utilities/msvcsolutions/Debug
utilities/msvcsolutions/Release
*.user
*.sdf
*.opensdf
*.suo